body {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
  background: rgb(222, 196, 222);
  padding: 20px;
  margin: 20px;
}
header {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  padding: 20px;
  margin-bottom: 30px;
  background: antiquewhite;
}
header:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.recipe_generator {
  margin-top: 20px;
  padding-top: 40px;
}
#addRecipeButton {
  max-width: 100%;
  border-radius: 5px;
  background: red;
  padding: 20px;
  margin-left: 30px;
  text-align: center;
}
.input_element {
  padding: 16px;
  border: 1px solid #3b1e54;
  width: 80%;
  font-size: 16px;
  border-radius: 20px;
  line-height: 20px;
  color: #3b1e54;
}
.submit_button {
  margin-left: 10px;
  background: plum;
  color: #3b1e54;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 5px;
}
.ai_recipe_container {
  border: solid black;
  margin-top: 30px;
}
.recipe {
  font-size: 16px;
  background-image: url("visuals/recipe\ note\ pad2.jpg");
  color: #141411;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid rgb(36, 23, 65);
  box-shadow: 0px 4px 30px 0px rgb(214, 109, 214);
}
.hidden {
  display: none;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
